@import url("colores.css");

@import url("Finales.css");

html{
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
}

.final-bueno{
    background: var(--bueno);
    padding: 20px;
    border-radius: 8px;
}

.final-malo{
    background: var(--malo);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.final-neutro{
    background: var(--neutro);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}