:root{
    --fondo: #0b2540;     /* Fondo principal */
    --boton: #1e6fb3;     /* Color para botones */
    --texto: #e6f3ff;     /* Color de texto sobre fondo oscuro */
}

body{
    font: 1em sans-serif;
    margin: -25;
    background: var(--fondo);
    color: var(--texto);
}

section{
    max-width: 980px;
    margin: 10px auto;
}

article{
    background: var(--boton);

    padding: 10px;
    border-radius: 8px;}

li{
    list-style-type: none;
    padding: 10px;
    margin-top: 10px;
    background: var(--boton);
    border-radius: 8px;
    max-width: 50%;
}

h3{
    background: var(--boton);
    border-radius: 10px;
    padding: 10px;
    margin-top: 0;
}

img { max-width: 100%; height: auto; margin-top: 20px; }
