

@import url('story-theme.css');

header{padding:10px;background:rgba(0,0,0,0.06)}


main{padding:var(--space-md)}
.container{max-width:980px;margin:0 auto}

.story-section{display:block;margin-bottom:var(--space-md)}
@media(min-width:768px){
  .story-section.with-image{display:flex;gap:var(--space-md)}
  .story-section.with-image .story-image{flex:1}
  .story-section.with-image .story-content{flex:1}
}

.mt-md{margin-top:var(--space-md)}
.mb-md{margin-bottom:var(--space-md)}
.flex{display:flex}
.flex-center{align-items:center;justify-content:center}
